{% extends 'base.html' %}
{% load bootstrap4 %}
{% comment %} {% load staticfiles %} {% endcomment %}

{% block content %}

  <a href="{% url 'movies:movie_list' %}">뒤로가기</a>
  <div class="backdrop row m-0 my-5">
    <div class="col-12 col-md-3 align-self-center" style="height: 100%;">
      <img src="{{ movie.poster_path }}" id="poster-img"  style="width: 100%;" alt="...">
    </div>
    
    <div class="col-12 col-md-9 text-dark">
      <h3 class="mt-3 custom-break-word">{{ movie.title }}</h3>
      <div class="custom-break-word">
        <p>
          {% for genre in movie.genres.all %}
          <span>{{ genre.name }}</span>
          {% endfor %}
        </p>
      </div>
      <hr>
      <pre class="custom-break-word">{{ movie.overview }}</pre>
      <hr>
      <div>{{ movie.release_date }} 개봉</div>
      <div>평점: {{ movie.vote_average }}</div>
      <div class="custom-break-word">원제목: {{ movie.original_title }}</div>
      <div>언어: {{ movie.original_language }}</div>
      <hr>
      <span class="cnt-{{movie.pk}}">{{ movie.like_users.all|length }}</span> 명이 이 영화를 좋아합니다.
      <hr>
    </div>
  </div>


  {% comment %} <h4>Rank List</h4>
    {% if ranks|length %}
      <p><b>{{ ranks|length }} Ranks!</b></p>
    {% endif %}
    {% for rank in ranks %}
      <div>
        {{ rank.user }} - {{ rank.star }}
      </div>
    {% empty %}
      <p><b>No Rank!</b></p>
    {% endfor %}
    <hr>
    <form action="{% url 'movies:rank_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ rank_form }}
      <input type="submit">
    </form> {% endcomment %}
    {% comment %} {% else %}
      <a href="{% url 'accounts:login' %}">Login First</a>
    {% endif %}
    <a href="{% url 'movies:movie_list' %}">[BACK]</a> {% endcomment %}



  <div class="py-3">
    {% if ranks|length %}
      <p><b>{{ ranks|length }}개의 평점이 있어! </b></p>
      <p><b>평균 평점은 {{ avg }} 야!</b></p>
    {% else %}
      <div class="h5">첫번째로 평점을 남겨줘!</div>
    {% endif %}
    <hr>
    {% for rank in ranks %}
    <div class="border-bottom p-3" style="background-color: rgba(255, 255, 255, 0.1); border-color: darkslategray !important;">
      <div>
        <div class="d-inline-block" style="h6">
          {% if rank.star == 1 %}
          ★☆☆☆☆
          {% elif rank.star == 2 %}
          ★★☆☆☆
          {% elif rank.star == 3 %}
          ★★★☆☆
          {% elif rank.star == 4 %}
          ★★★★☆
          {% else %}
          ★★★★★
          {% endif %}
        </div>
        <div class="d-inline-block custom-break-word">{{ rank.user }}</div>
      </div>
      <hr>
      <div class="text-right">
        <div><small>작성:{{ rank.created_at }}</small></div>
        <div><small>수정:{{ rank.updated_at }}</small></div>
      </div> 
      {% if user == rank.user %}
      <div class="text-right">
        <form action="{% url 'movies:rank_delete' movie.pk rank.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="square_btn" value="삭제">
        </form>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div id="bookmark"></div>
  <form class="mb-5" action="" method="POST">
    {% csrf_token %}
    {{ rank_form }}
    <button type="submit" class="mt-2 btn btn-info">평점주기</button>
  </form>

  <style>

    .backdrop {
      position: relative;
      background-color: rgba(255, 255, 255, 0.7);
      
    }
    .backdrop::after {
      content: "";
      
      background: url('{{ backdrop_path }}') no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    var img = document.getElementById('poster-img')
    if (img.src.slice(31,img.src.length).indexOf('/') !== 0 ) {
      img.src = img.src.slice(31,img.src.length)
    }

    const likeBtns = document.querySelectorAll('.like-btn')
    likeBtns.forEach(function(btn) {
      btn.addEventListener('mouseover', function(event) {
        btn.getElementsByTagName('i')[0].classList.add('animate__animated', 'animate__rubberBand')

      })
      btn.addEventListener('mouseout', function(event) {
        btn.getElementsByTagName('i')[0].classList.remove('animate__animated', 'animate__rubberBand')

      })
      btn.addEventListener('click', function(event) {
        axios.get(`/movies/${btn.dataset.pk}/like`)
          .then(function(res) {
            if (res.data.liked) {
              btn.getElementsByTagName('i')[0].style.color = 'crimson'
            } else {
              btn.getElementsByTagName('i')[0].style.color = 'white'
            }
            const cntSpan = document.querySelector(`.cnt-${btn.dataset.pk}`)
            if (res.data.count) {
              cntSpan.innerText = res.data.count
            } else {

              cntSpan.innerText = 0
            }

          })
          .catch(function(err) {
            console.log(err)
          })
      })
    })

    function getOffsetTop(el) {
      var top = 0;
      if (el.offsetParent) {
        do {
          top += el.offsetTop;
        } while (el = el.offsetParent);
        return [top];
      }
    }
    window.scroll(0, getOffsetTop(document.getElementById("bookmark")));

  </script>

{% endblock %}

