{% extends 'base.html' %}
{% load bootstrap4 %}
{% comment %} {% load staticfiles %} {% endcomment %}

{% block content %}

  
  <div class="backdrop row m-0 my-5">
    <div class="col-12 col-md-3 align-self-center" style="height: 100%;">
      <img src="{{ movie.poster_path }}" id="poster-img"  style="width: 100%;" alt="...">
    </div>
    
    <div class="col-12 col-md-9 text-dark">
      <h3 class="mt-3 custom-break-word">{{ movie.title }}</h3>
      <div class="custom-break-word">
        <p>
          {% for genre in movie.genres.all %}
          <span>{{ genre.name }}</span>
          {% endfor %}
        </p>
      </div>
      <hr>
      <p class="custom-break-word">{{ movie.overview }}</p>
      <hr>
      <div>{{ movie.release_date }} 개봉</div>
      <div>평점: {{ movie.vote_average }}</div>
      <div class="custom-break-word">원제목: {{ movie.original_title }}</div>
      <div>언어: {{ movie.original_language }}</div>
      <hr>      
      <hr>
      <a class="btn btn-primary" href="{% url 'movies:movie_list' %}">뒤로가기</a>
    </div>
  </div>



  <div class="py-3">
    {% if ranks|length %}
      <p><b>{{ ranks|length }}개의 평점이 있어! </b></p>
      <p><b>평균 평점은 {{ avg }} 야!</b></p>
    {% else %}
      <div class="h5"> 니가 1빠다 </div>
    {% endif %}
    <hr>
    {% for rank in ranks %}
    <div class="border-bottom p-3" style="background-color: rgba(255, 255, 255, 0.1); border-color: darkslategray !important;">
      <div>
        <div class="d-inline-block" style="h6">
          {% if rank.star == 1 %}
          ★☆☆☆☆
          {% elif rank.star == 2 %}
          ★★☆☆☆
          {% elif rank.star == 3 %}
          ★★★☆☆
          {% elif rank.star == 4 %}
          ★★★★☆
          {% else %}
          ★★★★★
          {% endif %}
        </div>
        <div class="d-inline-block custom-break-word">{{ rank.user }}</div>
      </div>
      <hr>
        <p class="custom-break-word">{{ rank.content }}</p>
      <div class="text-right">
        <div><small>작성:{{ rank.created_at }}</small></div>
        <div><small>수정:{{ rank.updated_at }}</small></div>
      </div> 
      {% if user == rank.user %}
      <div class="text-right">
        <a class="btn" href="{% url 'movies:rank_update' movie.pk rank.pk %}" class="square_btn">수정</a>
        <form action="{% url 'movies:rank_delete' movie.pk rank.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn square_btn" value="삭제">
        </form>
      </div>
      </div>
      {% endif %}
      {% endfor %}
    
  </div>
  
  <div id="bookmark"></div>
  <form class="mb-5" action="{% url 'movies:rank_create' movie.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form rank_form %}
    <button type="submit" class="mt-2 btn btn-primary">평점주기</button>
  </form>

  <style>

    .backdrop {
      position: relative;
      background-color: rgba(255, 255, 255, 0.7);
      
    }
    .backdrop::after {
      content: "";
      
      background: url('{{ backdrop_path }}') no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>  

{% endblock %}

