{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block content %}
<h1 class="text-center">posts</h1>

<div class="w-100 my-5">
    <div class="w-100 btn-group btn-group-sm overflow-auto" role="group">
    {% if request.user.is_authenticated %}
    <a href="{% url 'community:create' %}">NEW</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인 하세요]</a>
  {% endif %}
      <button id="btn-0" class="btn my-2 my-sm-0"
        onclick="location.href='{% url 'community:index' %}'">전체게시판</button>
      <button id="btn-1" class="btn my-2 my-sm-0"
        onclick="location.href='{% url 'community:pur_posts' 1 %}'">자유게시판</button>
      <button id="btn-2" class="btn my-2 my-sm-0"
        onclick="location.href='{% url 'community:pur_posts' 2 %}'">건의게시판</button>
      <button id="btn-3" class="btn my-2 my-sm-0"
        onclick="location.href='{% url 'community:pur_posts' 3 %}'">추천게시판</button>
    </div>
</div>

  <table class="table row m-0">
    <thead class="col-12 thead-dark">
      <tr class="row w-100 m-0">
        <th class="col-1 text-center p-1">#</th>
        <th class="col-7 col-md-8 p-1">제목</th>
        <th class="col-4 col-md-3 p-1 text-center">작성자</th>
      </tr>
    </thead>
    <tbody class="col-12">
      {% for post in page_obj %}
      <tr class="row m-0" onclick="location.href='{% url 'community:detail' post.pk %}'" style="cursor:pointer;">
        <th class="col-1 p-1 text-center">{{ post.pk }}</th>
        <td class="col-7 col-md-8 p-1 text-truncate" colspan="2">{{ post.title }} ({{ post.comment_p_set.all|length }})</td>
        <td class="col-4 col-md-3 p-1 text-center text-truncate">{{ post.user }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  
  <hr>
  {% comment %} {% for post in page_obj %}
  
    <p><b>작성자 : {{ post.user }}</b></p>
    <p>{{ post.pk }}번째 글. 제목: {{ post.title }} </p> 
    <p>내용: {{ post.content }}</p>
    <a href="{% url 'community:detail' post.pk %}">[자세히...]</a>
    <hr>    
  {% endfor %} {% endcomment %}
  <div class="d-flex justify-content-center my-5">
    {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
  </div>
{% endblock %}  
