<!DOCTYPE html>
{% load bootstrap4 %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class=" h-100" style="background: linear-gradient(rgba(86, 189, 190, 1), rgba(57, 83, 112, 1), rgba(57, 83, 112, 1), rgba(57, 83, 112, 1));">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-md navbar-dark " >
    <a class="navbar-brand" href="">MovieStagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="nav-mov" href="" class="nav-link" style="color: white;">영화</a>
        </li>
        <li class="nav-item">
          <a id="nav-com" href="#" class="nav-link" style="color: white;">커뮤니티</a>
        </li>
        <li class="nav-item">
          <a id="nav-map" href="https://map.naver.com/v5/search/%EC%98%81%ED%99%94%EA%B4%80?c=14141555.5891601,4508068.8894076,13,0,0,0,dh" class="nav-link" style="color: white;">영화관 찾기</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search" id="q" name="q"
          value="{{ q }}">
      </form>
      <div>
        {% if request.user.is_authenticated %}
        <div class="btn-group float-right">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="d-inline-block text-truncate justify-content-center" style="max-width: 6rem;">{{ request.user.username }}</div>
            <div class="d-inline-block text-truncate">님</div>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="" class="dropdown-item">마이페이지</a>
            <a href="" class="dropdown-item">로그아웃</a>
          </div>
        </div>
        {% else %}
          <a href="" class="btn btn-info">로그인</a>
          <a href="" class="btn btn-info">회원가입</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}


</body>
</html>